@model List<Departments>

@{
    ViewData["Title"] = "DeptShowAll";
}
<a href="/Departments/Add" class="btn">AddDept</a>
<style>
    .btn {
        display: inline-block;
        background-color: green;
        color: white;
        border: none;
    }
</style>
<table class="table table-hover table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Manager Name</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>@item.MgrName</th>
        </tr>
    }
</table>
